@import "_Header.scss";
@import "_Nav.scss";
@import "_Main.scss";
@import "_Footer.scss";

body{
  height: 716px;
  width: 806px;
  display:flex;
  justify-content: center;
  align-self: center;
}